{% extends "base.html" %}

{% block content %}
    <main class="container">
        <div class="row d-flex justify-content-between">
            {% include "search_bar.html" %}
            {% include "bin.html" %}
        </div>
        <div class="cards-wrapper">
            {% for consumer in consumers %}
                <div class="card">
                    <img src="{{ consumer.image.url }}" class="consumer-preview" alt=""/>
                    <div class="card-body" >
                        <div class="card-info">
                            <h5 class="card-title">{{ consumer.name }}</h5>
                            <p class="card-text">Потребление: {{ consumer.power }} Вт</p>
                        </div>
                        <div class="row card-btns">
                            <div class="col d-flex justify-content-center flex-grow-1">
                                <a href="/consumers/{{ consumer.id }}" class="btn btn-primary">
                                    Открыть
                                </a>
                            </div>
                            <form method="post" action="{% url 'add_consumer_to_draft_reserve' consumer.id %}" class="col d-flex justify-content-center">
                                {% csrf_token %}
                                <input type="hidden" name="consumer_name" value="{{ consumer_name }}">
                                <button class="add-btn btn btn-secondary" type="submit">
                                    Добавить
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}

